<!-- Page Footer -->
<footer>
    <div class='footer-container'> 
        <div class='row prefooter'> 
            <!--First column--> 
            <div class='col-4'> 
                <U><h5 class='title text-uppercase'>COMPANY</h5></U>
                <ul class='list-inline'> 
                    <li><a rel='nofollow' rel='noreferrer' href='http://jordanmarshall.photography'>About Jordan</a></li> 
                    <!-- <li><a rel='nofollow' rel='noreferrer' href='/price'>Our Services</a></li> 
                    <li><a rel='nofollow' rel='noreferrer' href='/price'>Investors</a></li> 
                    <li><a rel='nofollow' rel='noreferrer' href='/team'>Meet the Team</a></li> --> 
                </ul> 
            </div>  
            <!--Second column--> 
            <div class='col-4'> 
                <%= image_tag "site/sm_logo.png", class: "img-fluid" %>
            </div> 
            <!--Third column-->  
            <div class='col-4'> 
                <u><h5 class='title'>SOCIAL</h5></u> 
                <ul class="list-inline">
                    <li class='list-inline-item'> 
                        <a rel='nofollow' rel='noreferrer btn-floating btn-small' href='mailto:jordanmarshallphotography@yahoo.com'> 
                            <i class='fa fa-envelope'></i> 
                        </a> 
                    </li> 
                    <li class='list-inline-item'>        
                        <a rel='nofollow' rel='noreferrer btn-floating btn-small' href='https://twitter.com/jordanmphoto' target='_blank'> 
                            <i class='fa fa-twitter'></i> 
                        </a> 
                    </li>    
                    <li class='list-inline-item'> 
                        <a rel='nofollow' rel='noreferrer btn-floating btn-small' href='https://www.facebook.com/JordanMarshallPhotography/' target='_blank'> 
                            <i class='fa fa-facebook'></i> 
                        </a> 
                    </li> 
                    <li class='list-inline-item'> 
                        <a rel='nofollow' rel='noreferrer btn-floating btn-small' href='https://www.instagram.com/jordanmarshallphotography/' target='_blank'> 
                            <i class='fa fa-instagram'></i> 
                        </a> 
                    </li>          
                    <li class='list-inline-item'> 
                        <a rel='nofollow' rel='noreferrer btn-floating btn-small' href='https://www.linkedin.com/in/jordan-marshall-9b597514a/' target='_blank'>
                            <i class='fa fa-linkedin'></i>
                        </a>
                    </li> 
                </ul> 
            </div>
        </div>
        <!-- Copyright -->
        <div>
            Jordan Marshall Photography, Denton, TX <a class='tab-space' rel='nofollow' rel='noreferrer' href='http://www.jordanmarshall.photography'>&copy Copyright 2017 Jordan Marshall Photography. All Rights Reserved.</a>
        </div>
    </div>
</footer>
<!-- end-footer -->